@import "tailwindcss";

/* @plugin "tailwindcss-animate";
@import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

@theme  {
  --font-inter: var(--font-inter);
}

body {
  font-family: Inter, sans-serif;
  width: 100vw;
  min-height: 100vh;
}

